<div fxLayout="column">
  <div>
    <h1 fxLayoutAlign="center">Buscador de películas</h1>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="column">
    <mat-form-field>
      <input
        type="text"
        placeholder="Matrix, Jaws, ..."
        aria-label="Number"
        matInput
        [(ngModel)]="termino"
        [matAutocomplete]="auto"
        (input)="buscando(termino)"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="opcionSeleccionada($event)"
      >
        <mat-option *ngFor="let movie of movies" [value]="movie">
          {{ movie.Title }}
        </mat-option>
        <mat-option [value]="" *ngIf="petitionState"> {{ error }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column">
    <div
      class="div-card"
      fxFlex="30"
      fxFlex.lg="16"
      *ngFor="let movieItem of movies"
    >
      <app-movie-card-component [movie]="movieItem"></app-movie-card-component>
    </div>
  </div>
</div>
